name: Build APK
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Make gradlew
      run: echo -e '#!/bin/sh\nexec gradle "$@"' > gradlew && chmod +x gradlew
    - name: Build APK
      run: cd .. && ./gradlew assembleDebug
    - uses: actions/upload-artifact@v3
      with:
        name: Oscilloscope-APK
        path: app/build/outputs/apk/debug/app-debug.apk
